.personal-info .field-wrapper ul.close-account{
    list-style-type: none;    
}
.personal-info.row .blue-btn{
    padding: 5px 25px;
}
.personal-info .field-wrapper .close-account img {
    height: 22px;
    padding-bottom: 4px;
    padding-right: 10px;
    width: 27px;
}
.verification-element .blue-btn{
    width: 100%;
}
.cropit-preview { margin:7px auto;  }
.image-editor > h3 {
    color: #898888;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.cropit-image-input {
    background: #1b9af7 none repeat scroll 0 0;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 5px;
    color: #fff;
}
.image-editor > p.file-type {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color:#888888;
}
.upload-with-facebook {
    margin-bottom: 15px;
}
.rotate-ccw.btn.btn-primary,
.rotate-cw.btn.btn-primary,
.export.btn.btn-success{
    background: #1b9af7 none repeat scroll 0 0 !important;
}
.btn.btn-default.btn-file.cropit-image-input {
    margin-left: 30px;
}
.header-right ul.dropdown-menu li a{
    line-height: 12px !important;
}
.dropdown-menu.open {
    max-height: 337px !important;
}
.schedule-datetime-content .bootstrap-select.btn-group .dropdown-menu {
  height: auto !important;
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
    width: 279px !important;
}
.listing-view.currency.dropdown #currency > img {
    padding-right: 12px;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.image-editor label {
    background: #1b9af7 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 45px;
    padding: 8px;
    text-align: center;
    width: 65%;
}
ul.bbc-icon li{display:inline-block;float:left;margin-top:30px;float:right;}
ul.bbc-icon .approval-option-icon{background:url(../img/1.png) no-repeat;padding:20px 10px 20px 20px ;}
ul.bbc-icon .user2-option-icon{background:url(../img/user-2.png) no-repeat;padding:20px 20px 20px 20px ;}
ul.bbc-icon .hour1-icon{background:url(../img/1h.png) no-repeat;padding:20px 10px 20px 20px ;}
ul.bbc-icon .hour3-icon{background:url(../img/3h.png) no-repeat;padding:20px 10px 20px 20px ;}
ul.bbc-icon .hour6-icon{background:url(../img/6h.png) no-repeat;padding:20px 10px 20px 20px ;}
ul.bbc-icon .hour12-icon{background:url(../img/12h.png) no-repeat;padding:20px 10px 20px 20px ;}
.list-container-fluid {
    background: #f7f8f9 none repeat scroll 0 0;
}
.col-md-4.travel-list > h3 {
    color: #1b9af7;
}
.other-listing .col-md-4.travel-list > ul {
    clear: both;
    list-style-type: none;
    margin-top: 30px;
}
.other_rides > a:hover {
    border-bottom: 1px solid #1b9af7;
    text-decoration: none;
    color:#1b9af7;
}
.my-notification.row .blue-btn {
    padding: 5px 25px;
}
.ride-booking-request .rides-stopover-points i {
    background: url(../img/seat.png) no-repeat 0 0;
    width: 13px;
    height: 20px;
    display: inline-block;
    vertical-align: top;
}
.ride-booking-request{
    margin-bottom: 22px; 
}
.clear_date.date-close {
    position: absolute;
    right: 15%;
    top: 0;
}
.select-div-02.select-css {
    width: 130px !important;
}
.blue-tooltip + .tooltip > .tooltip-inner {background-color: #337ab7; color: #fff; font-family: 'roboto' !important;}
.blue-tooltip + .tooltip > .tooltip-arrow {border-top-color:#337ab7; font-family: 'roboto' !important;}
.blue-tooltip + .tooltip > .tooltip-arrow {border-bottom-color:#337ab7; font-family: 'roboto' !important;}
.red-tooltip + .tooltip > .tooltip-inner {background-color: #f00; font-family: 'roboto' !important;}
.red-tooltip + .tooltip > .tooltip-arrow { border-top-color:#f00; font-family: 'roboto' !important;}
.red-tooltip + .tooltip > .tooltip-arrow { border-bottom-color:#f00; font-family: 'roboto' !important;}
.grey-tooltip + .tooltip > .tooltip-inner {background-color: #ccc; color:#2e2e2e; font-family: 'roboto' !important;}
.grey-tooltip + .tooltip > .tooltip-arrow { border-top-color:#ccc; font-family: 'roboto' !important;} 

ul.car-option {
    display: inline-block;
    list-style: none;
    margin: -5px 0 0;
    padding: 0;
    vertical-align: top;
    width: 100%;
}
.create-ride-alert-model h3.Modal-title {
  padding-bottom: 6px !important;
  padding-left: 10px !important;
    border-bottom: 1px solid #888888;
    padding-bottom: 10px !important;
    width: 100%;
}
.create-ride-alert-model .modal-body{padding:25px !important;}
.create-ride-alert-model .RideName-location {
  display: block;
  float: left;
  width: 45%;
  font-size: 17px;
  margin-left: 10px;
    margin-top: 10px;
    width: 100%;
}
.create-ride-alert-model .date-picker.hasDatepicker,
.create-ride-alert-model .SearchAlert-field > input{
 border: 1px solid #def1f9;
    box-shadow: 3px 4px 1px -2px #e0e0e0;
  float: left;
  height: 48px;
  margin: 15px 10px 30px;
  padding: 7px 15px;
  width: 45%;
}
.create-ride-alert-model .Form-option.Form-option--alignMiddle {
  clear: both;
}

.create-ride-alert-model label {
    display: inline-block;
    float: right !important;
    font-weight: 700;
    margin-bottom: 5px;
    max-width: 95% !important;
}
.create-ride-alert-model .SearchAlert-buttonGroup {
  clear: both;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.create-ride-alert-model .fa.fa-circle-o.green-icon {
  color: green;
  padding-right: 10px;
  font-size: 18px;
}
.create-ride-alert-model .fa.fa-circle-o.red-icon {
  color: red;
  margin-right: 10px;
    font-size: 18px;
}
.create-ride-alert-model .Form-option.Form-option--alignMiddle {
  padding-left: 10px;
}
.create-ride-alert-model .Form-button.Button.Button--primary.apply-btn-loader {
  background: rgb(255, 95, 57) none repeat scroll 0 0;
    border: 2px solid rgb(255, 95, 57);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 500;
    height: 38px;
    line-height: 24px;
    padding: 5px 15px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;
}
.create-ride-alert-model .Form-button.Button.Button--primary.apply-btn-loader:hover{
  border: 2px solid rgb(255, 95, 57);
  background: #fff none repeat scroll 0 0;
  color:rgb(255, 95, 57);
}
.create-ride-alert-model .favorite-route > span {
  color: #888888;
  font-weight: 500;
}
.details-content .listing-content {
 padding: 0 0 !important;
}
.details-content .listing-option {
    margin: 0 0 30px !important;
}
.rides-more-details table.table td i {
  font-size: 15px;
  margin: 0 10px 0 0;
}
.rides-more-details .fa.fa-clock-o{
  font-size: 15px !important;
  padding-right: 5px;
}
.rides-more-details .fa.fa-code-fork{  font-size: 18px !important;
  padding-right: 5px;}
.rides-more-details .user2-option-icon {
    background: url(../img/user-2.png) no-repeat;
    padding: 20px 20px 8px 20px;
    display: inline-block;
  float: left;
  margin-top: -6px !important;
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
  z-index: 99999999 !important;
}
.offer-ride-tab .ride_summary{
color: rgb(51, 51, 51);
    font-family: "montserratregular";
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    padding-bottom: 10px;
  }
  .listing-content ul.car-option {
    margin-top: 5px;
 }
.ui-state-default.active_new{
  background: rgba(255, 95, 57, 0.3) none repeat scroll 0 0 !important;
  border: 1px solid rgb(255, 95, 57) !important;
  color: rgb(255, 255, 255);
}
.ui-state-default.active_half{
  background:rgba(255, 95, 57, 0.7)  none repeat scroll 0 0 !important;
  border: 1px solid rgb(255, 95, 57) !important;
  color: rgb(255, 255, 255);
}
.ui-state-default.active_dark{
  background: rgb(255, 95, 57) none repeat scroll 0 0 !important;
  border: 1px solid rgb(255, 95, 57) !important;
  color: rgb(255, 255, 255);
}
.modal-dialog-map {
    width: 830px !important;
    margin: 30px auto;
}
.modal-body-map{
    width:100% !important;
    height:530px !important;
}
.modal-dialog-map #gmap{width:100% !important;}
.current-bboking-tab .rides-box-head h3 {
    width:500px;
}
.new_unred_msg {
  background: rgb(27, 154, 247) none repeat scroll 0 0;
  border-radius: 6px !important;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 500;
  height: auto !important;
  margin-left: 5px !important;
  padding: 0 6px;
  width: auto !important;
}
.what-happens .what-happens-content {
  min-height: 317px;
}
.what-happens .what-happens-content.what_happen_offer {
  min-height: 422px !important;
}
.booking_cancel_warning.alert.alert-danger {
  float: right;
  margin: 20px 0;
}
.modal-footer {
  clear: both;
}
.form_search_new .select-div-03 {
  float: right !important;
  width: 28% !important;
  margin-bottom: 30px;
}
.form_search_new .input-div {
 display: inline-block;
    width: 60%;
}
.form_search_new .blue-btn {
  margin-left: 25px;
  margin-top: 3px;
}
.form_search_new .input-div i {
  left: 8px;
}
.offer-ride-step{margin-top:30px;}
.offer-ride-step ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    width: 100%;
}
.offer-ride-step ul li {
    display: inline-block;
    width: 20%;
    text-align: center;
    vertical-align: top;
}
.offer-ride-step ul li.active span {
    background: #1b9af7;
    color: #fff;
}
.offer-ride-step ul li span {
    width: 50px;
    height: 50px;
    background: #f2f6f8;
    border: 0;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
    display: block;
    text-align: center;
    color: #d2d5d7;
    line-height: 50px;
    font-weight: 900;
    font-size: 20px;
    margin: 0 auto 5px;
}
.offer-ride-step ul li.active p {
    display: block;
}
.offer-ride-step ul li p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #1b9af7;
    display: none;
}
.offer-ride-step ul li a{color: #1b9af7;text-decoration: none;}
.offer_listing_modal.schedule-datetime-content .field-wrapper .input-div {
  width: 188px;
}

.schedule-datetime-content.create_ride-datepicker {
  margin: 10px 0 20px 10px;
}
.bootstrap-select .dropdown-menu > li > a:focus, .bootstrap-select .dropdown-menu > li > a:hover {
  background: rgb(241, 246, 249) none repeat scroll 0 0;
  color: rgb(46, 46, 46);
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
  background-color: transparent;
  color: rgb(255, 255, 255);
  outline: 0 none;
  text-decoration: none;
}
.div-button button.orange_btn {
    background: rgb(255, 95, 57) none repeat scroll 0 0;
    border: 0 none;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    font-family: "montserratbold";
    font-size: 17px;
    height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    width: 90%;
}
#myModal h3#searchAlertFormTitle {
  color: rgb(27, 154, 247);
  float: left;
  font-family: "montserratregular";
  font-size: 18px;
  line-height: 34px;
  margin: 0;
  padding: 0;
}
.booking-car-01 span {
 border-radius: 0px !important;
}
.booking-car-02 h4,.booking-car-01 h4 {
  font-family: "roboto";
  font-weight: 500 !important;
 }
.alert{
  font-family: "Roboto" !important;
}
.summary_price_total .form-control {
  width: 80px !important;
}
.dashboard_listing .what-happens-content ul li .what-happens-content-box{height:180px;}
.height{height: 225px !important;}
.listing-list-r-inner-l big {
  padding-bottom: 10px;
}
.fa.fa-long-arrow-right {
  padding-left: 5px;
  padding-right: 5px;
}
.listing-list-r-inner-r h4 strong {
  font-size: 20px;
}
.col-md-4.travel-list > h3 {
  font-family: roboto;
}
.create-ride-alert-model h4.modal-title {
  color: rgb(27, 154, 247);
  font-weight: bold;
}
.photo-update-inner .btn.btn-danger {
    display: block;
    width: 28%;
}
.photo-update-inner .alert.alert-info,.photo-update-inner .alert.alert-success {
    clear: both;
    display: block;
    margin: 10px auto;
    width: 55%;
}
.photo_info{color: rgb(122, 122, 122);
    font-family: roboto;
    padding: 10px;
  }

.close_my_acc_space{
  margin-bottom: 10px;
}
.ttgBody {
    background: rgb(222, 239, 247) !important;
}
a.ttgNext, a.ttgPrev {
    background: #1a94cc !important;
    color: #fff !important;
}
.ttgArrow-up {
    border-bottom-color: #1a94cc !important;
    display: block !important;
    top: -15px !important;
    left: 50% !important;
    position: absolute !important;
}
.rides-details-name {
    display: inline-block;
    margin: 10px 0 0 30px;
    vertical-align: top;
}
.rides-details-name a {    
    font-weight: bold;    
    text-decoration:none;
}
.report_user_radio .radiobutton-div {
    padding: 5px 0;
}
.report_user_radio .radiobutton-div > div {
    width: 100%;
    padding: 5px 0;
}
.test {
    background: rgba(0, 0, 0, 0) url("../img/pic_1.png") no-repeat scroll 0 0;
}