.dashboard-nav .nav-justified li a { font-size: 14px; white-space: nowrap; }
ul.boxul-css li:last-child{ padding-bottom:0;}
.checkbox-div.show-phonenumber label { padding:4px 0 3px 27px;}
.show-phonenumber{ text-align:left;}
.verification-element .blue-btn { height:auto;}
label p{ color:#788792; font-size:14px; font-weight:400; margin:0;}
li{ color:#787892; font-size:14px; font-weight:400;}
.ride-summary h2 { margin:0;}
.dashboard-body ul.car-option{ margin:0;}
.ridesummary-user { padding:15px;}
.main-inner { min-height: 380px;}
.our-team ul > li{ margin-bottom:0;}
iframe { width:100%;}
.find-rides h5 { padding:16px;}
.listing-head h3 { width:50%; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.listing-head-r { width:auto; max-width:48%;}
.listing-head-r p{ font-size:14px; max-width:280px;  text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.listing-head-r a{ font-size:13px; padding:0 10px; width:auto; max-width:264px;  text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.schedule-howoffen-journey .radiobutton-div > div { margin-right:15px; width:46%;}
.schedule-howoffen-journey .radiobutton-div label { color:#87939c; font-weight:400; line-height:normal; padding:0 0 3px 28px;}
.schedule-date-time .offer-head-title .field-wrapper { float: right;}
