@media(min-width:768px) and (max-width:991px){
.navigation .navbar ul li a { padding: 12px 10px;}

}

@media(max-width:767px){
.navbar-header{ display:block;}
.header-right ul{ display:none;}
.header-right h4{ display:block;}

}