.clear_date.date-close-mobile {
    position: absolute;
    right: 10%;
    top: 35%;
}
.nav-open{ overflow:auto !important;}
.booking-footer.rides-box-footer .fa.fa-user{
    text-align: center;
    padding-top: 10px;
    font-size: 18px;
    color: #b3b3b3;
}
.radiobutton-div .preferences-value{
    display: block;
    padding: 5px;
}
.profile-radio .radio-box-white label {
    max-width: 100%;
    min-width: 100%;
}
.profile-radio .radio-box-white.radio_inline label {
    max-width: 40%;
    min-width: 40%;
}
.profile-select-one.input-btm-space {
    float:none !important; 
}
.blue-btn-add{
    padding: 10px 25px !important;
    color: #fff !important;
    border-radius: 5px !important;
    min-width: 160px !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    line-height: 22px !important;
    text-transform: uppercase !important ;
    font-family: 'Roboto' !important
        box-shadow: 2px 2px 2px 0 rgba(5, 55, 77, 0.5);
}
.dark-btn-cancel{       background: #ff5f39 !important;
                        border: 1px solid #fb8467 !important;
                        border-radius: 4px !important;
                        padding: 10px 25px !important;
                        text-align: center !important;
                        min-width: 160px !important;
                        font-family: 'Roboto' !important;
                        font-size: 15px !important;
                        color: #fff !important;
                        text-transform: uppercase !important;
                        font-weight: 500 !important;
                        line-height: 40px !important;
                        box-shadow: 2px 2px 2px 0 rgba(5, 55, 77, 0.5);
}
.talk-to-carowner .message-to-owner li.rider-talk img,
.talk-to-carowner .message-to-owner li.user-talk img{
    width:50px;
    height:50px;
    border-radius:60px;
}
.rides-more-details table.table td {
    font-size: 13px !important;
}
.rides-more-details table.table td i {
    font-size: 15px;
    margin: 0 10px 0 0;
}
.rides-more-details .fa.fa-clock-o{
    font-size: 15px !important;
    padding-right: 5px;
}
.rides-more-details .fa.fa-code-fork{  font-size: 18px !important;
                                       padding-right: 5px;}
.rides-more-details .user2-option-icon {
    background: url(../img/user-2.png) no-repeat;
    padding: 20px 20px 8px 20px;
    display: inline-block;
    float: left;
    margin-top: -6px !important;
}
ul.car-option { display:inline-block; list-style:none; padding:0; vertical-align:top; width:100%; margin-bottom: 10px;}
ul.car-option li{ float:left; margin:0 5px 0 0;}
ul.car-option li i{ width:28px; height:28px; display:block; overflow:hidden; position:relative; }
ul.car-option li i.company-option{ background:url(../img/company-icon.png) no-repeat 0 0; }
ul.car-option li i.company-option {
    background: url(../img/company-icon.png) no-repeat 0 0;
}
ul.car-option li i.smoke-option{ background:url(../img/smock-icon.png) no-repeat 0 0; }
ul.car-option li i.pets-option{ background:url(../img/pets-icon.png) no-repeat 0 0; }
ul.car-option li i.song-listen-option{ background:url(../img/listen-music-icon.png) no-repeat 0 0; }
ul.car-option li.active-none i{ background-position:0 0; }
ul.car-option li.active-fifty i { background-position:0 -28px;}
ul.car-option li.active i{ background-position:0 -56px; }
.ride-summary-content ul.car-option{ background:#f0f3f5; -webkit-border-radius:100px; -moz-border-radius:100px; border-radius:100px; width:auto; padding: 10px 12px;  }
.ride-summary-content ul.car-option li{ margin:0 5px 0 0; }
.ride-summary-content ul.car-option li:last-child{ margin-right:0;}
ul.car-option li a i {
    opacity: 1 !important;
}
.co-traveller-option ul.car-option{ background:#f0f3f5; -webkit-border-radius:100px; -moz-border-radius:100px; border-radius:100px; width:auto; padding: 10px 12px;  }
.co-traveller-option ul.car-option li{ margin:0 5px 0 0; }
.co-traveller-option ul.car-option li:last-child{ margin-right:0;}
.carowner-dtl .carowner-dtl-r h2{
    text-align: left;
    margin-left: -14px;
    margin-bottom: 8px;
}
ul.bbc-icon li{display:inline-block;float:left;margin-top:30px;float:right;}
ul.bbc-icon .approval-option-icon{background:url(../img/1.png) no-repeat;padding:20px 10px 00px 20px ;     margin-left: 10px;}
ul.bbc-icon .user2-option-icon{background:url(../img/user-2.png) no-repeat;padding:20px 20px 0px 30px ;}
ul.bbc-icon .hour1-icon{background:url(../img/1h.png) no-repeat;padding:20px 10px 0px 20px ; margin-left: 10px;}
ul.bbc-icon .hour3-icon{background:url(../img/3h.png) no-repeat;padding:20px 10px 0px 20px ; margin-left: 10px;}
ul.bbc-icon .hour6-icon{background:url(../img/6h.png) no-repeat;padding:20px 10px 0px 20px ; margin-left: 10px;}
ul.bbc-icon .hour12-icon{background:url(../img/12h.png) no-repeat;padding:20px 10px 0px 20px ; margin-left: 10px;}

.edit-option {
    background: url(../img/edit-icon-02.png) no-repeat 0 50%;
    width: 16px;
    height: 14px;
}
.delete-option {
    background: url(../img/close-icon-02.png) no-repeat 0 50%;
    width: 16px;
    height: 14px;
}
.profile-pages-form .document-continue{
    padding: 10px 25px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 2px 2px 2px 0 rgba(5, 55, 77, 0.5);
    border-radius: 4px;
}
.modal-dialog-map-mobile {
    width:95%  !important;
    margin: 30px auto;
}
.modal-body-map-mobile{
    width:100% !important;
    /*height:530px !important;*/
}
.rides-box-footer .edid-delete-option a.edit-option.edit-icon-mobile {background:transparent !important;}
.modal-dialog-map-mobile #gmap{width:100% !important;}
.new_unred_msg {margin-top:-8px !important;margin-left:15px;background: rgb(27, 154, 247) none repeat scroll 0 0; border-radius: 6px !important; color: rgb(255, 255, 255); font-size: 14px; font-weight: 500; height: auto !important; margin-left: 18px !important; padding: 0 6px; width: auto !important; }
.message-user-pic h4 {
    margin: 10px 0 !important;
}
.message-user-pic{text-align: center;}
.message-user-pic span{
    border-radius: 50%;
    text-align: center;
    width: 60px;
    margin-left: 9px;
    margin-top: 15px;
}
.form_search_new .input-css{
        width: 57%;
    display: inline-block;
    position: relative;
    padding: 8px 10px 8px 10px !important;
    float: left;
}
.form_search_new .blue-btn {
    margin-left: 15px;
    padding: 10px 10px !important;
}
.form_search_new .input-css i{
        position: absolute;
    right: -10px !important;
    top: 35% !important;
    left: unset !important;
}
.upcoming_datepicker .ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
     top: 0 !important; 
}
.detail_user_image span img{
    width: 100%;
    min-height: 144px;
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all{
        z-index: 1051 !important;
    }
.rides-box-footer-edit-delete a.duplicate {
    border: 1px solid #eaeaea;
    background: #fff;
    font-size: 14px;
    color: #62696c;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    line-height: 36px;
    width: 48%;
    float: left;
    margin: 0 0 10px;
    padding: 0 2px 0 44px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
        width: 100% !important;
        margin-top:10px;
}
.rides-box-footer-edit-delete a.duplicate i {
    width: 26px;
    height: 36px;
    background: #f8f8f8;
    border-right: 1px solid #eaeaea;
    font-weight: normal;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 10px;
    left: 10px;
}
.rides-box-footer-edit-delete .test a{
    padding: 15px;
}
.btn-group.bootstrap-select{margin-bottom: 10px;}
.carowner-tab-r {
  display: table-cell;
  padding: 0 120px 0 5%;
  position: relative;
  text-align: right;
  vertical-align: middle;
  width: 25%;
}
.carowner-tab-pic {
  border: 1px solid rgb(238, 238, 238);
  display: inline-block;
  float: none;
  height: 100px;
  margin: -25px 0;
  position: absolute;
  right: 0;
  top: 50%;
  vertical-align: top;
  width: 100px;
}
.carowner-tab-r span {
  color: rgb(27, 154, 247);
  display: block;
  font-family: "roboto";
  font-size: 34px;
  line-height: 100%;
  margin: 0 0 7px;
  padding-top: 25px;

}
.carowner-tab-r p {
  color: rgb(120, 135, 146);
  display: block;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.carowner-tab-pic > img {
  border: 4px solid rgb(255, 255, 255);
  box-shadow: 1px 3px 3px -1px rgba(120, 135, 146, 0.5);
  height: 100%;
  width: 100%;
}
.font_size_13{
  font-size: 13px !important;
  font-family: "Roboto" !important;
}
.font_size_14{
  font-size: 14px !important;
  font-family: "Roboto" !important;
}
.font_size_15{
  font-size: 14px !important;
  font-family: "Roboto" !important;
}

.rides-sets .numbers-row{
          text-align: center;
    padding-left: 10px;
}
.rating_mobile .blue-btn.btn-css{
    display: inline-block;
    float: left;
  }
  .rating-body .select-css {
    width: 38% !important;
    margin-right: 8px !important;
}
.image-editor {
  display: block;
  max-width: 250px;
  padding: 15px 0 0;
  width: 100%;
  margin: 12px auto;
}
.image-editor > h3 {
  color: rgb(137, 136, 136);
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
}
.cropit-image-input {
  background: rgb(27, 154, 247) none repeat scroll 0 0;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  margin-bottom: 15px;
  padding: 5px;
}
.inputfile {
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 0.1px;
  z-index: -1;
}
input[type="file"] {
  display: block;
}
.image-editor label {
  background: rgb(27, 154, 247) none repeat scroll 0 0;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 45px;
  padding: 8px;
  text-align: center;
  width: 65%;
}
.photo-update-inner{text-align: center;}
.export.btn.btn-success{text-align: center;
    margin: 10px auto;}
    .image-editor > p.file-type {
  color: rgb(136, 136, 136);
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}


input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}
input[type=range] {
    display: block;
    width: 100%;
}
input[type="range"] {
  -webkit-appearance: slider-horizontal;
} 
li.profile-picture{position: relative;}
li.profile-picture{
    width: 50% !important;
    margin: 20px auto 0px !important;
    border-bottom: transparent !important;
  }
  li.profile-picture img{
      width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
  }
  li.profile-picture p{
      position: absolute;
    bottom: 0;
    right: 5px;
  }
  li.profile-picture p i{
      font-size: 22px;
    color: #1b9af7;
    background: #fff;
    padding: 5px;
    border-radius: 10px;
        width: 33px !important;
    font-size: 22px !important;
}
.contact_listing {display: block !important;margin: 0 auto !important;}
.checkbox-div label::before {
  background: rgba(0, 0, 0, 0) url("../img/check-box.png") no-repeat scroll 0 0;
  content: "";
  display: inline-block;
  height: 25px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 25px;
}
.listing_car{ height: 45px;}
.detail_page_h4{position: relative;}
.panel-heading h4.collapsed:after,.panel-heading h3.collapsed:after,.panel-heading h2.collapsed:after {
    content: '';
    background: url(../img/plus-icon-01.png) no-repeat 0 0;
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
   margin: -9px 0 0;
}.panel-heading h4.collapsed:after{right:0px;}
.panel-heading h4:after,.panel-heading h3:after,.panel-heading h2:after {
    content: '';
    background: url(../img/minus_close.png) no-repeat 0 0;
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
   margin-top: -1px;
}
.panel-heading h4:after{right:0px;}
.field-required {
    color: rgb(255, 95, 57);
    font-family: "Roboto";
    font-size: 14px;
    line-height: 100%;
    text-align: left;
}
.swiper-slide {
    background: linear-gradient(to bottom, #1ad6fc -1%,#1ad6fc 0%,#1b9af7 100%) !important;
  }
.ttgSlidePadding {
    padding: 10px;
    font-size: 22px;
    font-weight: 900;
    line-height: 25px;
    font-family: roboto;
}
a.ttgNext,a.ttgPrev{background: #1a94cc !important;
    color: #fff !important;}
    span.ttgInfo{color:#7a7a7a !important;}
    div#ttgId1,div#ttgId2{box-shadow: none !important;
    border: none !important;}
    .ttgArrow-up{border-bottom-color: #fff !important;}
 span.swiper-pagination-bullet.swiper-pagination-bullet-active{
  background-color: #fff !important;
 }
 span.swiper-pagination-bullet{background-color: #fff !important;}
 .find-ride-form.light-bg.form_arrival_destination{margin-bottom: 20px; min-height: 280px;}
.carowner-dtl .carowner-dtl-r h2 {
    margin-bottom: 0px;
}

.carowner-dtl-r h2 {
    height: 40px;
}
.create-ride-alert-model h4.modal-title {
    color: rgb(27, 154, 247);
    font-weight: bold;
}
.create-ride-alert-model .fa.fa-circle-o.green-icon {
    color: green;
    padding-right: 10px;
    font-size: 18px;
}
.create-ride-alert-model .fa.fa-circle-o.red-icon {
    color: red;
    margin-right: 10px;
    font-size: 18px;
}
.create-ride-alert-model .Form-button.Button.Button--primary.apply-btn-loader {
    background: rgb(255, 95, 57) none repeat scroll 0 0;
    border: 2px solid rgb(255, 95, 57);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 500;
    height: 38px;
    /* line-height: 24px; */
    padding: 5px 15px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;
}
.schedule-datetime-content .field-wrapper i.time-icon {
    width: 42px;
    height: 41px;
    background: #f1f6f9 url(../img/calendar-icon.png) no-repeat center 50%;
    display: block;
    left: 0;
    border-right: 1px solid #def1f9;
}
#myModal span.RideName-location{
  width: 40% !important;
    display: block;
    float: left;
}
.journy-direction-r a {
    height: 0px;
}
.journy-direction-r .popover-content,
.car-option .popover-content  {
    color: #337ab7;
}
.cancel_submit_rating{
    padding: 10px 44px;
    line-height: 41px;
}
.btn-group.bootstrap-select.rating_submit_select {
    margin-left: 10px;
}
.my-popup .bootbox-body{color: #7a7a7a;font-size: 14px;}
.photo-update-inner .profile_img{    display: block;
    margin: 15px auto;border-radius: 50%;}
    .photo_info{color: rgb(122, 122, 122);
    font-family: roboto;
    padding: 10px;
    font-size: 13px;

  }
 .photo-update-inner span.alert.alert-info{font-size: 13px;}
 .photo-update-inner span.alert.alert-info i{font-size: 15px;}
 .contact-car-owner a {
    width: 250px;
}
.carowner-pic-table p strong a{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    height: 16px;
    line-height: 16px;
  }
  .rides-more-details table.table {
    min-width: 450px;
}
.profile-checkbox .checkbox-white label {
    width: 55% !important;
}
.message-conversations .message-table .table h5 {
    margin: 0 2px 0 0;
}
.badge{float: right;    background: #1b9af7;}
.ttgArrow-up {
    border-bottom-color: #1a94cc !important;
    display: block !important;
    top: -15px !important;
    left: 50% !important;
    position: absolute !important;
}
.ttgBody{background: rgb(222, 239, 247) !important;}
.rides-edit-btm-r-content h4.panel-title span {
    right: 35px;
}
.message-conversations .message-table .table td {
    vertical-align: middle;
    width: 18%;
}
.message-user-pic {
    min-width: 130px;
}
.profile-checkbox .checkbox-white label {
    text-overflow: inherit;
    white-space: normal;
}
.profile-checkbox .checkbox-white label {
    width: 100% !important;
}
.dtl-head.detail_user_image{position: relative;}
.dtl-head.detail_user_image .report_anchor{position: absolute;right: 5px;top:5px;background: transparent;padding: 0px; color:#1b9af7;width: 70px; }
.profile-pages-btn {
    margin: 10px 0 20px;
}
.profile-pages h2 {
    white-space: normal;
    overflow: auto;
}
.member-activity-r {
    width: 55%;
    float: left;
    padding: 8px 0 0 15px;
}
.blue-tooltip .popover-content{    background: #1b9af7;
    color: #fff !important;
    border-color: #1b9af7;}
    .blue-tooltip .popover.bottom > .arrow:after {
    border-bottom-color: #1b9af7;
}
.blue-tooltip .popover{border-color:#1b9af7 !important;    background-color: #1b9af7 !important;}
.blue-tooltip .popover.top > .arrow:after {
    border-top-color: #1b9af7;
}
.red-tooltip  .popover-content{    background: #ff5f39;
    color: #fff !important;
    border-color: #ff5f39;}
    .red-tooltip .popover.bottom > .arrow:after {
    border-bottom-color: #ff5f39;
}
.red-tooltip  .popover{border-color:#ff5f39 !important;    background-color: #ff5f39 !important;}
.red-tooltip .popover.top > .arrow:after {
    border-top-color: #ff5f39;
}
.grey-tooltip  .popover-content{    background: #ccc;
    color: #2e2e2e !important;
    border-color: #ccc;}
.grey-tooltip  .popover{border-color:#ccc !important;    background-color: #ccc !important;}
.grey-tooltip .popover.top > .arrow:after {
    border-top-color: #ccc;
}
.grey-tooltip-light  .popover-content{    background: #f6f6f6;
    color: #2e2e2e !important;
    border-color: #f6f6f6;}
.grey-tooltip-light .popover{border-color:#f6f6f6 !important;    background-color: #f6f6f6 !important;}
.grey-tooltip-light .popover.top > .arrow:after {
    border-top-color: #f6f6f6;
}
.text-content h4,
.text-content p{margin:0px;}
.text-content h4{font-size: 20px; color:#fff;}
.text-content p{font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color:#fff;}
    .main-profile_content{    background: #1b9af7;
    margin-top: -20px;}
    .mobile-nav .mobile-nav-content ul li  a i{width: 20px;font-size: 16px;}
    .mobile-nav .mobile-nav-content .sub-nav li a i{width: 15px;font-size: 10px;}
    .user-edit-option span {
    line-height: 28px;
}
.cong-message p {
    padding: 5px 0 0px 33px;
}
.carowner-tab-pic {
    margin-right: 10px;
    margin-bottom: 11px;
}
.journy-direction-l p {
    min-height: 30px;
 }
 .pickup-journy {
    background: url(../img/pickup-icon.png) no-repeat 2px -2px / 22px auto;
}
.end-journy {
    background: url(../img/drop-off-icon.png) no-repeat 2px -2px / 22px auto;
}
.journy-direction-l p span {
    padding-top: 2px;
}
.carowner-pic-table p a{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap !important;
    max-width: 80px;
    display: block;
  }
.choose-seats {
    padding: 0;
}
.co-traveller-book {
    display: block;
    vertical-align: top;
    width: auto;
    float: none;
    margin: 10px auto;
}
.car_add_page .profile-pages-btn button.blue-btn{min-width:115px;}

.carowner-tab-r {
   border-bottom: none;
}
.itinerary-co-traveller table.table.five{ min-width: 700px; }
.itinerary-co-traveller table.table.six-column{ min-width:850px; }
.itinerary-co-traveller table.table.seven-column{ min-width:1000px; }
.itinerary-co-traveller table.table.eight-column{ min-width:1150px; }
.itinerary-co-traveller table.table.nine-column{ min-width:1300px; }
.itinerary-co-traveller table.table.ten-column{ min-width:1450px; }
.itinerary-co-traveller table.table.eleven-column{ min-width:1600px; }
.itinerary-co-traveller table.table.twelve-column{ min-width:1750px; }
a#botTour1{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-size: 14px;
    color: #888;
    text-decoration: none;
    line-height: 20px;
    display: block;
    float: right;
}
a#botTour1 span {
    width: 50px;
    height: 20px;
    background: #ff5f39;
    border-radius: 40px;
    display: inline-block;
    vertical-align: top;
    margin: 0 5px 0 0;
    color: #fff;
    text-align: center;
}
.listing-view {
  border: 1px solid rgb(221, 221, 221);
  color: rgb(136, 136, 136);
  font-size: 13px;
  line-height: 24px;
  margin: 0px 10px 0 0px;
  padding: 0 10px;
  vertical-align: middle;
  background: #fff;
      width: 58px;
}
.listing-view {
  display: inline-block;
}
.dropdown, .dropup {
  position: relative;
}
.listing-view i {
  padding: 0 10px 0 0;
}
.listing-view {
  color: rgb(136, 136, 136);
  font-size: 13px;
  line-height: 24px;
}
.select-input,
.input-css {
    margin: 0 0 15px;
}
.caret{    float: right;
    margin-top: 10px;}
.listing-option-r p {
  color: #222222;
  display: inline-block;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 28px;
  margin: 0px 10px 0 2px;
  padding: 0;
  vertical-align: top;
}
@media(max-width: 1024px){.contact-page .contact_btn{text-align: center;} .contact-page button.dark-btn{margin-left: 10px;}}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    .ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all{
        left: 160px !important;
    }
    .ui-widget.ui-widget-content {
        width: 69% !important;
    }
    iframe {
    width: 100%;
    height: 700px;
}
}
@media(max-width:767px){
    .ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all{        
        left: 30px !important;
    }
    .ui-widget.ui-widget-content {
        width: 85% !important;
    }
    .ofter_ride_calendar .ui-widget.ui-widget-content {
        width: 100% !important;
    }
    .close_select{margin-left: 15px !important;}

}
@media only screen and (min-device-width : 412px) and (max-device-width : 732px){
    .form_search_new .input-css {
        width: 50%;
    }
}
@media screen and (min-width: 320px) and (max-width: 568px){
.rides-box-body-l .rides-box-body-l-top h6{
    width: 50%;
  }
  img.aligncenter.wp-image-6498,img.aligncenter.size-medium.wp-image-6495 {
    width:250px;
}
}
@media(max-width:480px){
  .close_select{margin-left: 0px !important;}
  .cancel_submit_rating {
    padding: 10px 30px;
    line-height: 41px;
  }
  .btn-group.bootstrap-select.rating_submit_select {
    margin-left: 0px;
  }

}
@media(max-width:360px){
  .published-date {
    text-align: center;
  }
  .published-date span{
  display: block;
    text-align: center;
  }
  .ofter_ride_calendar .ui-widget.ui-widget-content {
    width: 110% !important; 
}
ul.car-option li {
    float: left;
    margin: 0 3px 0 0;
}
}

